 /* 类似于 html 选择器，但具有更高的优先级 */
:root {
  --bg-color: #fff; // 背景色
  --color-text-0: #222831; // 标题色
  --primary-color: #393E46; // 文本色
  --second-color: #777e87; // 次级文本色
  --link-color: #0070F3; // 链接色
  --border-color: #E6E9ED; // 边框色
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #E97777;
}

:root[theme="eye"] {
  --bg-color: #1c1f2b;
  --color-text-0: #e6e6e6;
  --primary-color: #bdcadb;
  --second-color: #666e8e;
  --link-color: #0070f3;
  --border-color: #393f56;
}
