 /* 类似于 html 选择器，但具有更高的优先级 */
:root {
  --bg-color: #fff;
  --primary-color: #111;
  --second-color: #696969;
  --link-color: #0070f3;
  --border-color: #E6E9ED;
  --code-color: #333;
  --code-bg-color: #f6f6f6;

  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #f5222d;
}

:root[theme="eye"] {
  --bg-color: #f3eacb;
  --primary-color: #704214;
  --second-color: #a98c51;
  --link-color: #704214;
  --border-color: #eae0be;
  --code-color: #333;
  --code-bg-color: #a98c51;

  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #f5222d;
}
