.Create {
  padding: 0 15px 80px;
  display: flex;
  flex-direction: column;
  .createTitle {
    font-size: 22px;
    font-weight: 500px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .selection {
    display: flex;
    align-items: center;
    .title {
      flex: 1;
      // font-size: 16px;
      color: var(--color-text-0);
      margin: 60px 0 40px;
      height: 36px;

      border: 1px solid var(--border-color);
      border-radius: 4px;
      background-color: var(--bg-color);
    }
    .articleType {
      flex-shrink: 0;
      width: 160px;
      height: 36px;

      // font-size: 28px;
      color: var(--color-text-0);
      margin: 60px 0 40px 20px;

      border: 1px solid var(--border-color);
      border-radius: 4px;
      background-color: var(--bg-color);
    }
  }

  .markdownBody {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    color: var(--primary-color);
  }
  .textarea {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    resize: vertical;
    padding: 6px;
    height: 560px;
  }

  @media (max-width: 767px) {
    .markdownBody {

    }
  }

  .actionBlock {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    .confirmButton, .cancelButton {
      font-size: 14px;
      margin-left: 10px;
      cursor: pointer;
      color: var(--link-color);
    }

  }
}
