.NavBar {
  z-index: 99;
  /* line-height: 48px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 0 4px 4px var(--shadow-color);
  background-color: var(--bg-color);
  /* background-image: radial-gradient(transparent 1px,var(--bg-color) 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);
  -webkit-backdrop-filter: saturate(50%) blur(4px); */
}

.NavBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBarWrapper > p {
  font-weight: bold;
  color: var(--color-text-0);
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
