.NavBar {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.NavBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBarWrapper > p {
  font-weight: bold;
  color: var(--color-text-0);
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
