.Loading-wrap {
  padding: 30px 0;
  min-height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    font-size: 40px;
    color: var(--second-color);
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .Loading-text {
    font-size: 12px;
    line-height: 2;
    color: var(--second-color);
  }

  @keyframes loading {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

}
