.Footer {
  font-size: 14px;
  height: 64px;
  border-top: 1px solid var(--border-color);
  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.simpleBox {
  height: 64px;
  border-top: 1px solid var(--border-color);
}

.FooterWrapper {
  color: var(--primary-color);
  height: 100%;
  margin: 0 auto;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.FooterItem {
  flex: 1;
  white-space: nowrap; /* 强制不换行 */
  text-overflow:ellipsis; /* 超出部分显示省略号 */
  overflow:hidden;
}

/* .FooterItem:last-of-type {
  text-align: right;
} */

.reference, .adams {
  color: var(--second-color);
}

.reference:hover, .adams:hover {
  cursor: pointer;
  color: var(--link-color);
}
